<h1>QRelation#show</h1>
<p>ID связи: <%= @relation.id %></p>
<p>ID субъекта: <%= @relation.start_node.id %></p>
<p>Тип связи: <%= @relation.rel_type %></p>
<p>ID объекта: <%= @relation.end_node.id %></p>
