<h1>QMatrix#one</h1>
<p>Find me in app/views/q_matrix/one.html.erb</p>
<% 45.times do |i| %>
    <p>note:<%= QResource.find(i+65).note %> — id:<%= QResource.find(i+65).id %> — <%= QResource.find(i+65).title %></p>
<% end %>
