<h1>Дерево логических связей учебного элемента</h1>
<p>Древовидная структура логических связей учебных элементов, необходимых для изучение выбранного.</p>
<p><%= @matrix %></p>
<div id="q-matrix-tree-chart"></div>
