/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: Tahoma, Verdana, sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #4b0b6c; }
a:visited { color: #4b0b6c; }
a:focus { outline: thin dotted; }
a:hover { color: #671293; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Makarov Andrey
   ========================================================================== */
h1 { color: #4b0b6c; font-size: 24px; }
h2 { color: #4b0b6c; font-size: 18px; }
h3 { color: #4b0b6c; font-size: 15px; margin-top: 25px; }
h4 { color: #4b0b6c; font-size: 13px; margin-bottom: 5px; }
   
header .index-Panel { position: relative; z-index: 1000; color: white; background: image_url("header/index_panel/ipbg.png") repeat-x; width: 100%; height: 63px;}
header .index-Panel .ip-Content { margin: 0 auto; width: 970px; }
header .index-Panel .ip-Content .ip-Logo { float: left; margin-top: 12px; }
header .index-Panel .ip-Content .ip-Menu { float: right; font-size: 12px; margin-top: 17px; }

#profile-Menu-ep { float: right; padding-top: 3px; margin-right: 28px; }
#index-Menu-ep { float: right; padding-top: 3px; width: 104px; height: 21px; text-align: center; cursor: pointer; }
.index-Menu-ep-state { background: image_url("header/index_panel/menu_highlight.png") no-repeat; }
.index-Menu-ep-state-hover { background: image_url("header/index_panel/menu_highlight_hover.png") no-repeat; }

header .index-Panel .ip-Content .ip-Menu .profile-Icon { margin-right: 10px; }
header .index-Panel .ip-Content .ip-Menu  a { color: white; }
header .index-Panel .ip-Content .ip-Menu a:hover { color: #fbfacc; }

header .second-Panel { position: relative; top: -7px; z-index: 999; color: white; background: image_url("header/second_panel/spbg.png") repeat-x; width: 100%; height: 46px; }
header .second-Panel .sp-Content { margin: 0 auto; width: 940px; padding-top: 9px; }
header .second-Panel .sp-Content .limiter { float: left; margin-right: 12px; }
header .second-Panel .sp-Content .item { float: left; margin-top: 2px; margin-right: 30px; }
header .second-Panel .sp-Content .item .sp-icon { margin-right: 10px; }
header .second-Panel .sp-Content .item  a { color: white; }
header .second-Panel .sp-Content .item  a:hover { color: #fbfacc; }

header .third-Panel { position: relative; top: -15px; z-index: 998; margin-bottom: -9px; color: #4b0b6c; background: image_url("header/third_panel/tpbg.png") repeat-x; width: 100%; height: 31px; }
header .third-Panel .tp-Content { margin: 0 auto; font-size: 11px; width: 940px; padding-top: 9px; }
header .third-Panel .tp-Content .limiter { float: left; margin-right: 12px; padding-top: 4px; }
header .third-Panel .tp-Content .item { float: left; margin-right: 30px; }
header .third-Panel .tp-Content .item  a { color: #4b0b6c; }
header .third-Panel .tp-Content .item  a:hover { color: #671293; }

.add-Res-SubMenu { padding-left: 38px; }

#main { margin: 12px auto 0 auto; width: 940px; }

.dotted-link { border-bottom: 1px dotted;}

.description-comment { font-size: 11px; }
.res-helpers { font-size: 8px; font-weight: normal; color: grey; }

.pr-helpers { font-size: 10px; color: grey; }
.pr-helpers a { font-size: 10px; color: grey; }
.pr-helpers a:hover { font-size: 10px; color: #671293; }

.tree-helpers { font-size: 10px; font-weight: normal; color: grey; }
.tree-helpers a { font-size: 10px; color: grey; }
.tree-helpers a:hover { font-size: 10px; color: #671293; }

.q-tree-star-icon { margin-right: 2px; }
.q-tree-level-switcher { font-size: 10px; color: grey; text-decoration: none; border-bottom: 1px dotted; cursor: pointer; }
.tree-d-unit-block { margin-bottom: 15px; }
.tree-d-unit-block-level { float: left; width: 45px; }



.q-paragraph-unit { }
.q-paragraph-law { margin: 0 auto; width: 750px; padding: 10px 25px 10px 25px; border: 1px solid #dddcb2; background-color: #fbfacc; font-size: 12px; font-weight: bold; }
.q-paragraph-definition { margin: 0 auto; width: 750px; padding: 10px 25px 10px 25px; border: 1px solid #b2ddbd; background-color: #ccfbda; font-size: 12px; font-weight: bold; }
.p-highlight { background-color: #fffff1; }

.q-paragraph-relation-box { padding: 10px; border: 1px solid #e6e5ef; background-color: #fbfaff; }
.q-paragraph-relation-box-title { color: #4b0b6c; font-size: 13px; font-weight: bold; cursor: pointer; }
.q-paragraph-relation-box-switcher { margin-left: 584px; color: #8279c6; font-size: 10px; font-weight: normal; text-decoration: none; border-bottom: 1px dotted; cursor: pointer; }
.q-paragraph-relation-box-switcher-icon { margin-right: 7px; }
.q-paragraph-relation-box-items { display: none; }
.q-paragraph-relation-box-items-raw { margin-bottom: 7px; }
.q-paragraph-relation-box-items-relType { margin-top: 20px; font-size: 11px; font-weight: bold; margin-bottom: 5px; }

.q-paragraph-knw-level-box { margin-top: 15px; padding: 10px; border: 1px solid #e6e5ef; background-color: #fbfaff; }
.q-paragraph-knw-level-box-title { color: #4b0b6c; font-size: 13px; font-weight: bold; cursor: pointer; }
.q-paragraph-knw-level-box-switcher { margin-left: 630px; color: #8279c6; font-size: 10px; font-weight: normal; text-decoration: none; border-bottom: 1px dotted; cursor: pointer; }
.q-paragraph-knw-level-box-items { display: none; }
.q-paragraph-knw-level-box-item-line { margin-top: 20px; }

.margin-top-15 { margin-top: 15px; }
.margin-bottom-17 { margin-bottom: 17px; }
.q-paragraph-relation-res-line { width: 100%; height: 1px; background-color: #e6e5ef; }
.q-paragraph-relation-res-items-box { padding: 7px 10px 7px 10px; font-size: 11px; font-weight: bold; }
.q-paragraph-relation-res-item { float: left; margin-right: 15px; }
.q-paragraph-relation-res-icon { float: left; margin-right: 5px; }

.q-problem-medal-icon { margin-right: 5px; }

.q-problem-body { padding: 10px; border: 1px solid #edecd2; background-color: #ffffec; }
.q-problem-notice { font-size: 11px; margin-top: -4px; }
.q-problem-tick-div { float:left; margin-right: 10px; }
.q-paragraph-source {margin-top: 2px;}

.tree-map-discipline-block { float: left; margin: 7px; width: 275px; height: 145px; padding: 10px; border: 1px solid #e6e5ef; background-color: #fbfaff; text-align: center; cursor: pointer; }

.clear-both { clear: both; }

.input-field { margin: 0 0 0 0; padding: 3px 3px 3px 0; font-size: 13px; border: 1px solid #a1a1a1; }


footer .copyright { height: 25px; color: #8279c6; margin: 45px auto 0 auto; width: 940px; font-size: 10px; text-align: center; }
footer .copyright a { color: #8279c6; }
footer .copyright a:hover { color: #4b0b6c; }


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
